button{
    cursor: pointer;
}
.--btn {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 6px 8px;
    margin: 0 5px 0 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }
  
  .--btn:hover,button {
    transform: translateY(-2px);
  }
  
  .--btn-lg {
    padding: 8px 10px;
  }
  
  .--btn-block {
    width: 100%;
  }
  
  .--btn-primary {
    color: #fff;
    background: #007bff;
  }
  .--btn-secondary {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
  }
  .--btn-danger {
    color: #fff;
    background: orangered;
  }
  
  .--btn-success {
    color: #fff;
    background: #28a745;
  }
  