.card {
  border: black 1px dashed;
  margin: 10% 2%;
}

.picture {
  overflow: hidden;
  height: 282px;
  width: auto;
  background-color: black;
}

.picture img {
  max-width: 100%;
  max-height: auto;
  object-fit: contain;
}

.collectionName {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.8em;
}

.link{
  text-decoration: none;
  color:black;
}
