.FabricItem .card {
  /* border: black 1px dashed; */
  margin: 10% 2%;
}

.FabricItem .picture {
  position: relative;
  overflow: hidden;
  /* background-color: black; */
}

.FabricItem .picture img {
  object-fit: cover;
  min-height: 100%;
  max-width: 100%;
}

.FabricItem .collectionName {
  position: absolute;
  bottom:0;
  width:100%;
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.FabricItem .8em;
}

.FabricItem .link{
  text-decoration: none;
  color:black;
}
