.Contact {
  font-size: 1.25rem;
}
.row {
  padding: 2% 0;
  /* position: relative;   */
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  /* justify-content: center;
    align-items: flex-start; */
    align-items: center;
}

.row .item {
  flex: 1 1 300px;
  /* background: black; */
  /* border: black 0.5px dashed; */
  padding: 1% 4%;
}   

.row .textInfo{
  padding:40px;
  border: 5px dashed rgba(0,0,0,0.4);
  margin:20px;
}
.row .textInfo > * {
  margin-bottom:20px;
}

.row iframe {
  width: 100%;
  /* height: auto; */
  height: 350px;
}

.row .map p {
  margin: 2% 0;
  white-space: nowrap;
}

.row h2 {
  border-bottom: 2px solid black;
}

.row .image {
  max-height: 50%;
  max-width: 100%;
  /* background-image: url("https://images.pexels.com/photos/276267/pexels-photo-276267.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  margin: 5px 0;
  flex-grow: 0.8;
  text-align: center;
}
.Contact img{
  height:100%;
  width: 100%;
}

textarea {
  padding: 1% 1%;
  resize: none;
  height: 10rem;
  width: 100%;
}

.row button:hover {
  cursor: pointer;
}
@media only screen and (max-width: 675px) {
  .Contact .textInfo {
    order:2;
  }
}
