.contact {
  font-size: 1.25rem;
}
.firstPart {
  padding: 2% 0;
  /* position: relative;   */
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  /* justify-content: center;
    align-items: flex-start; */
}

.firstPart .item {
  flex: 1 1 300px;
  /* background: black; */
  /* border: black 0.5px dashed; */
  padding: 1% 4%;
}

.firstPart iframe {
  width: 100%;
  /* height: auto; */
  height: 250px;
  border: 0;
}

.firstPart .map p {
  margin: 2% 0;
  white-space: nowrap;
}

.firstPart h2 {
  margin-bottom: 5%;
  border-bottom: 2px solid black;
}

.firstPart .image {
  height: 50%;
  width: 100%;
  /* background-image: url("https://images.pexels.com/photos/276267/pexels-photo-276267.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  margin: 5px 0;
  flex-grow: 0.8;
  text-align: center;
}
.contact img{
  height:400px;
}

textarea {
  padding: 1% 1%;
  resize: none;
  height: 10rem;
  width: 100%;
}
.firstPart button {
  width: 100%;
  padding: 3%;
  font-size: 1.2rem;
}

.firstPart button:hover {
  cursor: pointer;
}
/* @media only screen and (max-width: 920px) {
  .col3 {
    display: none;
  }
} */
