.fabricsJSX .container {
  display: grid;
  grid-template-areas:
    "cover cover"
    "filter fabrics";
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 300px 1fr;
  gap:1vh 1vw;
  margin:0 20px;
}

.fabricsJSX .bread {
  /* margin: 20px; */
  margin: 15px;
}

.fabricsJSX .cover {
  position: relative;
  grid-area: cover;
  /* border:2px solid black; */
  background: url("https://images.pexels.com/photos/1460890/pexels-photo-1460890.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 10px 10px;
  margin: 0 20px;
  margin-bottom: 5vh;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.fabricsJSX .headlineBox{
  display: flex;
  opacity: 0.95;
  position: absolute;
  height: 120px;
  width: 21%;
  background: #959aa4;
  color:white;
  bottom: -10%;
  left: 2%;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  border: 4px white solid;
}

.fabricsJSX .headlineBox2{
  display: none;
  grid-area:cover2;
}

.fabricsJSX .filter2{
  display: none;
}

.fabricsJSX .filter {
  grid-area: filter;
  /* border: 1px dashed black; */
  /* background-color: #f1f1f1; */
}
.fabricsJSX .fabrics {
  /* margin: 1vh; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* setting all the rows the same height */
  grid-auto-rows: 1fr;
  justify-items: center;
  gap:3vh 3vw;
  /* background: #f1f1f1; */
  /* border: 1px dashed black; */
}

.fabricsJSX .durabilitySelect {
  display: none;
}

@media screen and (max-width: 768px){
  .fabricsJSX .container{
    grid-template-areas:
    "cover cover"
    "cover2 cover2"
    "filter filter"
    "fabrics fabrics";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .fabricsJSX .filter > *{
    display: none;

  }

  .fabricsJSX .headlineBox{
    display: none;
  }
  .fabricsJSX .filter:after{
    content:"Filter By";
    cursor: pointer;
  }

  .fabricsJSX .headlineBox2{
    display: flex;
    opacity: 0.95;
    height: 12vh;
    width: 100%;
    background: #959aa4;
    color:white;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border: 4px white solid;
  }

  .fabricsJSX .filter{
    display: flex;
    opacity: 0.95;
    height: 12vh;
    width: 100%;
    color:#d19e25;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 4px #d19e25 solid;
  }

  .fabricsJSX .cover{
    height: 20vh;
    padding:0;
    margin: 0;
  }

}

@media screen and (max-width:551px) {

  .fabricsJSX .fabrics{
    gap:1vh 0;
  }
  
}
