.Home{
  margin-top:30px;
}

.Home .slider{
  padding: 0 10vw;
}

.Home .grid1,
.Home .grid2,
.Home .grid3{
  padding: 5vh 10vw;
}

.Home .link {
  text-decoration: none;
  color: white;
}

.Home .grid1 {
  /* padding: 5vh 10vw; */
  display: grid;
  grid-template-areas:
    "newArrivals upholstery"
    "newArrivals drapery";
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 200px 200px;
  gap: 2vw;
}

.Home .grid1 > * {
  position: relative;
  display: flex;
  overflow: hidden;
}

/* ---- */
.announcement {
  padding: 5vh 10vw 0 10vw;
  display: flex;
  flex-wrap: wrap;
  display: none;
}

.Home .announcement .imageContainer {
  flex: 1 1 300px;
}

.Home .announcement .image {
  width: 100%;
  height: auto;
}

.Home .announcement .announcementBox {
  flex: 1 1 300px;
  background-color: #f2f2f2;
  text-align: center;
  /* align-items: center; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.Home .announcement h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.Home .announcement p {
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Home .announcement .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d09d34;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.Home .announcement .button:hover {
  background-color: black;
  color: #d09d34;
  transition: 0.15s ease;
}

@media (max-width: 1080px) {
  .Home .announcement {
    flex-direction: column;
  }

  .Home .announcementBox {
    margin-top: 0;
  }
}

/* --- */
.Home .grid1 .content {
  position: absolute;
  bottom: 0;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.7);
}

.Home .button {
  padding: 5px 30px;
  background-color: #d09d34;
  text-align: center;
}

.Home .grid1 .button:hover {
  cursor: pointer;
}

.Home .grid1 {
  color: white;
}

.Home .grid1 h1 {
  color: #d09d34;
}

.Home .newArrivals {
  grid-area: newArrivals;
}

.Home .drapery {
  grid-area: drapery;
}
.Home .newArrivals {
  /* background: url("../../public/images/ready-made/ready-made.jpg") no-repeat; */
  background: url("../../public/images/ready-made/1337/1337_white/1337_grommets_displayed.jpg")
    no-repeat;
  background-size: 150%;
  background-position: top left;
}

.Home .drapery {
  background: url("../../public/images/fabrics/sheer-curtain-fabric-rolled-cover-image-model-3022.jpg")
    no-repeat;
  background-position: top;
  background-size: 130%;
}

.Home .upholstery {
  background: url("../../public/images/cover/zeugma.jpg") no-repeat;
  background-size: 309%;
  background-position: top;
  grid-area: upholstery;
}

.Home .certifications {
  display: flex;
  background-color: #d19e25;
  justify-content: center;
  padding: 0.5% 0;
}

/* .productView {
  padding: 0 2%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.productItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 20%;
  border: 2px solid black;
  height: 400px;
  bottom: 1%;
  align-self: flex-end;
  padding: 3%;
}

.productItem a {
  width: fit-content;
  background: white;
  color: black;
  font-weight: bold;
  padding: 3%;
  font-size: 1.5rem;
  border-radius: 10%;
  text-decoration: none;
}

.productView .fabrics {
  background-image: url("https://qph.cf2.quoracdn.net/main-qimg-41967f02e25e44d3b79e773794f853c8-lq");
  background-repeat: no-repeat;
  background-size: cover;
}

.productView .towels {
  background-image: url("https://i.pinimg.com/564x/ad/a7/18/ada71860adef08fa6e976976aa2dfe6a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.productView .bedding {
  background-image: url("https://s3.amazonaws.com/cdn.nathosp.com/images/uploads/duvet_inserts_duvet_covers_comforters.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.productView .bathrobes {
  background-image: url("http://www.whotelsthestore.com/images/products/lrg/w-hotels-hooded-robe-WHO-400-MIC-SH-WL-GY_lrg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
